@using DominosStockOrder.Shared.ViewModels

<div class="d-flex row mt-1">
    <div class="col-1">@Item.Code</div>
    <div class="col">@Item.Description</div>
    <div class="col"><input type="text" class="form-control" inputmode="numeric" placeholder="Pack size" @bind="@Item.PackSize" disabled="@Item.ManualCount" /></div>
    <div class="col"><input type="text" class="form-control" inputmode="numeric" placeholder="Multiplier" @bind="@Item.Multiplier" /></div>
    <div class="col align-self-center"><input type="checkbox" class="form-check-input scale2" @bind="@Item.ManualCount" /></div>
    <div class="col align-self-center"><input type="checkbox" class="form-check-input scale2" @bind="@Item.DoubleCheck" /></div>
</div>

@code {
    [Parameter]
    public InventoryItemVM Item { get; set; }
}