@using DominosStockOrder.Shared.ViewModels

<div class="accordion-item" id="@UniqueId">
    <h2 class="accordion-header" id="@(UniqueId)Heading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@(UniqueId)Items" aria-expanded="true" aria-controls="@UniqueId">
            @Title
        </button>
    </h2>
    <div id="@(UniqueId)Items" class="accordion-collapse collapse @(StartShown ? "show" : string.Empty)" aria-labelledby="@(UniqueId)Heading" data-bs-parent="#orderItems">
        <div class="accordion-body">
            <div class="row">
                <div class="col-1 fw-bold">Code</div>
                <div class="col fw-bold">Description</div>
                <div class="col-2 fw-bold">Final Order</div>
            </div>
            @foreach (var item in Items)
            {
                <StockOrderItemComponent @key="@item.PulseCode" Item=item OnOverrideChanged="OnOrderItemOverrideChanged" />
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<StockOrderRequestItemVM> Items { get; set; }

    [Parameter]
    public string UniqueId { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool StartShown { get; set; } = true;

    [Parameter]
    public EventCallback OnOrderItemOverrideChanged { get; set; }
}